.icons-on #plone-contentmenu-factories .contenttype-multiple-files {
    line-height: 2em;
    padding-left: 20px !important;
    display: inline-block;
    *display: block;
}

.icons-on .contenttype-multiple-files {
    background: no-repeat transparent url(++resource++multiple-files.png);
}
